<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dc.androidtool">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 查看网络状态的权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- 允许设置系统级别的对话框 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- 开机启动 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- 读取联系人的权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- 定位服务的权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 打开gps界面 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />




<!--.........................百度地图的权限.............................................-->
   <!-- <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
     <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />-->
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />



    <!-- android:allowBackup="false" -->
    <application
        android:name=".MyApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <!--百度定位-->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="2oD2zNcBKB4K721hbA7AfGGwYURb3xZr" />

        <service android:name="com.baidu.location.f" android:enabled="true" android:process=":remote">
        </service>

        <!--百度定位结束-->




        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 设置竖屏显示 -->
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".DouBanMovie.activity.MovieDetailActivity" />
        <activity android:name=".search.BookDetailActivity" />
        <activity android:name=".BaseActivity" />

        <!-- 设置为隐式Intent -->
        <activity android:name=".settings.BaseSettingActivity">
            <intent-filter>
                <action android:name="com.dc.androidtool.settings.BaseSettingActivity" />
                <!-- 附加信息，可以用来区分相同action的启动 -->
                <category android:name="android.intent.category.DEFAULT" />
                <!-- 自定义的附加信息 ，用来区分 -->
                <category android:name="com.dc.androidtool.MY_CATE" />
            </intent-filter>
        </activity>
        <activity android:name=".Alltools.ui_fullSize.NewsContentActivity" />
        <activity android:name=".Alltools.ui_fullSize.Ui_fullSizeActivity" />
        <activity android:name=".Alltools.listen_broadcast.listen_broadcastActivity" />
        <activity android:name=".LoginActivity" />

        <!-- Image Selector Entry 图片选择器 -->
        <activity
            android:name="me.nereo.multi_image_selector.MultiImageSelectorActivity"
            android:configChanges="orientation|screenSize" />

        <!-- .....................广播........................................................... -->


        <!-- 用来强制下线的广播 -->
        <receiver android:name=".Alltools.listen_broadcast.ForceOfflineReceiver">
            <intent-filter>
                <action android:name="com.example.broadcastbestpractice.FORCE_OFFLINE" />
            </intent-filter>
        </receiver>

        <activity android:name=".Alltools.save_data.save_dataActivity" />

        <!--
        开机启动的广播，系统启动会发出这样action的广播
        exported="false" 不能被其他应用调用
        -->
        <receiver
            android:name=".Alltools.listen_broadcast.BootCompleteReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">

                <!-- 监听系统开机 -->
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <!-- 监听屏幕解锁 -->
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <activity android:name=".Alltools.learn_provider.ContentProviderActivity" />
        <activity
            android:name=".Alltools.notification.NotificationActivity"
            android:launchMode="singleTop" />

        <service
            android:name=".Alltools.learn_srevice.MyService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".Alltools.learn_srevice.ServiceActivity" />

        <service
            android:name=".Alltools.learn_srevice.MyStageService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".Alltools.learn_srevice.LongRunningService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".Alltools.learn_srevice.AlarmReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".Alltools.learn_webView.webviewActivity" />
        <activity android:name=".Alltools.learn_location.learn_locationActivity" />
        <activity android:name=".Alltools.learn_pic.Learn_picActivity" />
        <activity android:name=".Alltools.learn_git_pic.Learn_git_picActivity" />
        <activity android:name=".Alltools.learn_okhttp.learn_okhttpActivity" />
        <activity android:name=".Alltools.LearnGson.LearnGsonActivity" />
        <activity android:name=".Alltools.learn_view.LearnSelfViewActivity" />
        <activity android:name=".Alltools.learn_ui.LearnUIActivity" />

        <!-- 微信 6.0  注意主题 -->
        <activity
            android:name=".Alltools.learn_ui.weixin6_0.WeiXinMainActivity"
            android:theme="@style/WeiXinTheme" />
        <activity android:name=".Alltools.learn_downloadService.DownLoadActivity" />
        <!--
             ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".Alltools.learn_baidusdk.BaiDuMapActivity"></activity>



    </application>

</manifest>