<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dc.androidtool">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 查看网络状态的权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!--允许设置系统级别的对话框-->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />


    <application
        android:name=".MyApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 设置竖屏显示 -->
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DouBanMovie.activity.MovieDetailActivity" />
        <activity android:name=".search.BookDetailActivity" />
        <activity android:name=".BaseActivity" />

        <!-- 设置为隐式Intent -->
        <activity android:name=".settings.BaseSettingActivity">
            <intent-filter>
                <action android:name="com.dc.androidtool.settings.BaseSettingActivity" />
                <!-- 附加信息，可以用来区分相同action的启动 -->
                <category android:name="android.intent.category.DEFAULT" />
                <!-- 自定义的附加信息 ，用来区分 -->
                <category android:name="com.dc.androidtool.MY_CATE" />
            </intent-filter>
        </activity>
        <activity android:name=".Alltools.ui_fullSize.NewsContentActivity" />
        <activity android:name=".Alltools.ui_fullSize.Ui_fullSizeActivity" />
        <activity android:name=".Alltools.listen_broadcast.listen_broadcastActivity" />
        <activity android:name=".LoginActivity"></activity>


<!--.....................广播...........................................................-->

        <!--用来强制下线的广播-->
        <receiver android:name=".Alltools.listen_broadcast.ForceOfflineReceiver" >
            <intent-filter>
                <action android:name="com.example.broadcastbestpractice.FORCE_OFFLINE" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
